* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    color: white;
}

:root {
    /* 62.5% de 16px = 10px */
    font-size: 62.5%; 
}

body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', san-serif;
}





