* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    color: white;
    background: #EBF2F5;
}

:root {
    /* 62.5% de 16px = 10px 
    
        This change the value of 'rem' metric
        in width, height, etc.
    */
    font-size: 62.5%; 
}

body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', san-serif;
}





